@font-face {
    font-family: 'Courage Road';
    src: url(../assets/fonts/Courage\ Road.ttf);
    
}

@font-face {
    font-family: "Concert One";
    src: url(../eseets/fonts/Concert\ One.ttf);
}

@font-face {
    font-family: 'Fjalla';
    src: url(../eseets/fonts/Fjalla.ttf);
}

@font-face {
    font-family: 'Yunsei';
    src: url(../eseets/fonts/Yunsei.ttf);
}

@font-face {
    font-family: 'bow';
    src: url(../eseets/fonts/Bow.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../eseets/fonts/Roboto.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D1D2CD;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23cdd1c8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23c6d1c3' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23bdd1c0' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23b8d1c2' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23B2D1C8' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a3d8c6' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2393e0c3' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2381e9bd' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236ff3b5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%235BFFAB' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}


.navbar{
    background-color: #FFF;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
}

.navbar ul li a:hover{
    background-color: #d8d7d6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}




.navbar .logogrow{
    width:400px;
    height: 100px;
    grid-column: 1/3;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.navbar .menu{
    display: flex;
    justify-content: space-around;
    grid-column: 3/7;

}

.navbar .menu li{
    list-style: none;
}

.navbar .menu a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Roboto'
}

.navbar .menubar{
    display: none;
}

.navbar .shop{
    grid-column: 8/9;

}

.parrafo{
    margin-top: 10px;
}



.principal{
    height: 100vh;
    background-image: url('../eseets/img/fondo1.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);


}

.fondo{
    height: 50vh;
    background-image: url('../eseets/img/fondo2.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.fondo3{
    height: 50vh;
    background-image: url(../eseets/img/fondo3.jpg);
    background-size: cover;
    
}

.fondo5{
    height: 50vh;
    background-image: url(../eseets/img/fondo2.jpg);
    background-size: cover;
}

.fondo4{
    height: 50vh;
    background-image: url(../eseets/img/fondo4.jpg);
    background-size: cover;
}

.borde{
    border-radius: 10px;
    background: #abb9a7;
   
}

.titulo{
    font-family: 'Roboto';
    color:white

}

#quienes{
    font-size: 25px;
    margin-top: 20px;
}

#local{
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Roboto';
    margin-bottom: 10px;

}

#donde{
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.mapafoto{
    display: flex;
    justify-content: space-evenly;
    
}

h1{
    font-family: 'Courage Road';
    color:#1E1915;
    font: size 50px;
    text-align: center;
    }

h4{
    color: #1E1915;
    text-align: center;
    font-family:'Roboto'
}

.fondo .contenidoprincipal{
    grid-column: 8/10;
    grid-row:  3/7;
    color: #FFFF;
}

.nosotros{
    font-family: 'Roboto';
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;


}

.principal .contenidoprincipal{
    grid-column: 8/10;
    grid-row:  3/7;
    color: #FFFF;

}

.principal .contenidoprincipal h3{
    font-family: 'Courage Road';
    margin-top: 10px;
}

.contenidoprincipal h3{
    font-size: 30px;
    color: #1B1713;
    text-transform: uppercase;
    

}

.contenidoprincipal p{
    font-weight: 200;
    padding bottom: 20px;
}

.contenidoprincipal .boton{
    font-family: 'Fjalla';
    font-size: 16px;
    font-weight: 600;
    background: none;
    color: #FFF;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 15px;
    margin-top: 15px;
}

.piedepagina{
    display: grid;
    height: 88px;
    align-items: center;
    background-color: #d8d7d6;
    grid-template-areas: 'desarrolladora seguime redes-sociales';
}

.piedepagina .desarroladora{
    grid-area: desarrolladora;
    display: flex;
    justify-content: center;
}

.piedepagina .seguime{
    grid-area: seguime;
    display: flex;
    justify-content:flex-end
}

.piedepagina .redes-sociales{
    grid-area: redes-sociales;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}




.lista{
    display: flex;
    justify-content: center;

}


.enviopago{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: #cacaca;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 99%;
    margin-left: 5px;


}



.nombre{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
}



.button1{
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
    
}

.button2{
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.button3{
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    

}

.ofertas h1{
    font-family: 'Roboto';
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: ;
}

.destacado h1{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.carpa{
    font-size: 15px;
    text-align: center;
}

.contacto{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.contacto3{
    padding-top: 110px;

}

.contact{
    font-size: 40px;
    color: white;
    font-family: 'Roboto';
}

#ferti{
    font-size: 30px;
    font-family: 'Roboto';
}






@media screen and (max-width: 600px) {
    .navbar{
        position: relative;
    }

    .navbar .shop{
        display: none;
    }
    
    .navbar .menubar{
        display: block;
        grid-column: 8/9;
        cursor: pointer;
    }

    .navbar .menu{
        display: none;
    }

    .principal .contenidoprincipal{
        grid-row: 1/7;
    }

    .principal h3{
        font-size: 15px;
    }

    .principal h6{
        font-size: 12px;
        margin-top: 5px;
    }

    .principal p{
        font-size: 12px;
    }

    .kitsoferta{
        display: none;
    }

    .ofertas{
        display: none;
    }

    .kit1{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .navbar{
        position: relative;
    }

    .navbar .shop{
        display: none;
    }
    
    .navbar .menubar{
        display: block;
        grid-column: 8/9;
        cursor: pointer;
    }

    .navbar .menu{
        display: none;
    }

    .principal .contenidoprincipal{
        grid-row: 1/7;
    }

    .principal h3{
        font-size: 15px;
    }

    .principal h6{
        font-size: 12px;
        margin-top: 5px;
    }

    .principal p{
        font-size: 12px;
    }

    .kitsoferta{
        display: none;
    }

    .ofertas{
        display: none;
    }

    .kit1{
        display: none;
    }

    .caja1{
        display: none;
    }
}

.destacadoss {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 99%;
    margin-left: 5px;
    
  }
  
  .destacados2 {
    display: flex;
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    transition: all 1s;
    transition-duration: 0,5s;
    cursor: pointer;
  }

  .destacados2:hover{
      transform: translateY(-10px);
      filter: opacity(.5);
      
      
  }

  .button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }


.carousel-inner{
    max-height: 500px;
}

   .kitsoferta{
       display: flex;
       justify-content: space-evenly;
       width: 99%;
       margin-left: 5px;
       
   }

   .container{
       margin-top: 40px;
       margin-bottom: 30px;
       
   }

   .center{
       display: flex;
       justify-content: center;
   }

   .margin{
       margin-right: 10px;
   }

   .margintop{
       margin-top: 15px;
   }


