$color-tituloencabezadocontacto: #edf0ee;
$tamañofuentecontacto: 40px;




.fondo3 {
    .contact{
        font-size: $tamañofuentecontacto;
        color: $color-tituloencabezadocontacto;
        font-family: 'Roboto';
    }
    .contacto3{
        padding-top: 110px;
    }
        }

