
$color-tituloencabezadonosotros: #ffffff;


.fondo5 {
    .contacto3{
        padding-top: 110px;
    
    }
    .contact{
        font-size: 40px;
        color: $color-tituloencabezadonosotros;
        font-family: 'Roboto';
            }
        }


#quienes {
    font-size: 25px;
    margin-top: 20px;
} 

.mapafoto{
    .caja1 #local{
        font-size: 25px;
        margin-top: 20px;
        font-family: 'Roboto';
        margin-bottom: 10px;
    
    }

    .caja2 #donde{
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Roboto';
    margin-bottom: 10px;
    }
}

.nosotros{
    .parrafo{
        margin-top: 10px;
    }
}

//mapa
$colores: (
    'primario': green,
    'secundario': blue,
    'dark': black,
);

#quienes{
    color: map-get($map: $colores, $key: 'primario' );
    
}





